//
   Created by esoyke on 1/6/15.
doctype html
head
  title Eric Soyke Portfolio
  link(href="css/bootstrap.min.css" rel="stylesheet")
  link(href="css/app.css" rel="stylesheet")
body
   .navbar.navbar-inverse.navbar-fixed-top
      .container
         .navbar-header
            a.navbar-brand(href="mailto:soykes@yahoo.com?subject=Portfolio") Eric Soyke
   br
   br

   .jumbotron
      .col-md-5.h1
         a(href="#" onClick="window.open('http://esoyke.github.io/PSInvoices', '_blank')" title='Bootstrap, hosted on GitHub') Professional Services Invoices
      a(href="#" onClick="window.open('http://esoyke.github.io/PSInvoices', '_blank')" title='Bootstrap, hosted on GitHub')
         img(src='images/psiscreen.png',border=0,width=180,height=120)
   .jumbotron
      .col-md-5.h1
         a(href="#" onClick="window.open('http://esoyke.github.io/jrsyoga', '_blank')" title='Angular/Bootstrap, hosted on GitHub') JRS Yoga
      a(href="#" onClick="window.open('http://esoyke.github.io/jrsyoga', '_blank')" title='Angular/Bootstrap, hosted on GitHub')
        img(src='images/jrsscreen.png',border=0,width=180,height=120)
   .jumbotron
      .col-md-5.h1
         a(href="#" onClick="window.open('https://enigmatic-gorge-2953.herokuapp.com', '_blank')" title='MEAN stack (Mongo/Express/Angular/Node), hosted on Heroku/Mongolab- based on Joe Eames great Multivision tutorial') GeneriBooks
      a(href="#" onClick="window.open('https://enigmatic-gorge-2953.herokuapp.com', '_blank')" title='MEAN stack (Mongo/Express/Angular/Node), hosted on Heroku/Mongolab- based on Joe Eames great Multivision tutorial')
         img(src='images/gbscreen.png',border=0,width=180,height=120)
   .jumbotron
      .col-md-5.h1
         a(href="#" onClick="window.open('http://snowedinbunker.com', '_blank')" title='Google Blogspot') Snowed In Bunker
      a(href="#" onClick="window.open('http://snowedinbunker.com', '_blank')" title='Google Blogspot')
         img(src='images/sibscreen.png',border=0,width=180,height=120)
   .jumbotron
      .col-md-5.h1
         a(href="#" onClick="window.open('http://randomobamalie.com', '_blank')" title='HTML/JavaScript, hosted on Yahoo') RandomObamaLie
      a(href="#" onClick="window.open('http://randomobamalie.com', '_blank')" title='HTML/JavaScript, hosted on Yahoo')
         img(src='images/rolscreen.png',border=0,width=180,height=120)