//
   Created by esoyke on 1/6/15.
doctype html
head
  title "Eric Soyke Portfolio"
  link(href="css/bootstrap.min.css" rel="stylesheet")
  link(href="css/app.css" rel="stylesheet")
body
   .navbar.navbar-inverse.navbar-fixed-top
      .container
         .navbar-header
            a.navbar-brand(href="mailto:'soykes@yahoo.com'") Eric Soyke
   br
   br
  
   .jumbotron
      h1
         a(href="#" onClick="window.open('http://esoyke.github.io/jrsyoga', '_blank')" title='Angular/Bootstrap, hosted on GitHub') JRS Yoga
   .jumbotron
      h1
         a(href="#" onClick="window.open('https://enigmatic-gorge-2953.herokuapp.com', '_blank')" title='MEAN stack, hosted on Heroku- based on Joe Eames great Multivision tutorial') GeneriBooks
   .jumbotron
      h1
         a(href="#" onClick="window.open('http://randomobamalie.com', '_blank')" title='HTML/JavaScript, hosted on Yahoo') RandomObamaLie
   .jumbotron
      h1
         a(href="#" onClick="window.open('http://snowedinbunker.com', '_blank')" title='Google Blogspot') Snowed In Bunker

